<h2 class="cover-heading">Register</h2>

<div class="lead">
  {{#if message}}
  <div class="error">{{ message }}</div>
  {{/if}}
  <div id="errorReg"></div>
  <form method="POST" action="register">
  	<div>
  		<label for="username">Username:</label>
  		<input id="regUsername" type="text" name="username" value="">
  	</div>
  	<div>
  		<label for="password">Password:</label>
  		<input id="regUsername" type="password" name="password" value="">
  	</div>
  	<div><input  id="reg" class="btn btn-lg btn-default" type="submit" value="Register"></div>
  </form>
</div>
